<a href="https://colab.research.google.com/github/Nkoushik30/ML-workshop/blob/main/Assignment(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ()pandas Assignment(2)\()

importing pandas

In [ ]:
import pandas as pd

Q1. Create a Pandas DataFrame from the following dictionary:
     
     
      data = {
      'Name': ['Alice', 'Bob', 'Carol'],
      'Age': [24, 27, 22],
      'Salary': [50000, 55000, 48000]
      }
• Add a new column called Bonus which is 10% of the salary.

In [ ]:
data = {
 'Name': ['Alice', 'Bob', 'Carol'],
 'Age': [24, 27, 22],
 'Salary': [50000, 55000, 48000]
}
df1=pd.DataFrame(data)
df1['Bonus']=df1['Salary']*0.10
print(df1)

    Name  Age  Salary   Bonus
0  Alice   24   50000  5000.0
1    Bob   27   55000  5500.0
2  Carol   22   48000  4800.0

Q2. Given the DataFrame created in the above question:


      • Display the first two rows.
      • Compute the mean salary.

In [ ]:
d=pd.DataFrame(data)
print(d.head(2))
print(d['Salary'].mean())

    Name  Age  Salary
0  Alice   24   50000
1    Bob   27   55000
51000.0

Q3. Using the same DataFrame:



      • Extract all rows where the Age is greater than 25.
      • Filter out rows where the Salary is less than 50000.

In [ ]:
df2=pd.DataFrame(data)
print(df2[df2['Age']>25])
print(df2[df2['Salary']<50000])
print(df2)

  Name  Age  Salary
1  Bob   27   55000
    Name  Age  Salary
2  Carol   22   48000
    Name  Age  Salary
0  Alice   24   50000
1    Bob   27   55000
2  Carol   22   48000

Q4. Create the following DataFrame:


      data = {
      'A': [1, 2, None, 4],
      'B': [None, 2, 3, None],
      'C': [1, 2, 3, 4]
      }
      df = pd.DataFrame(data)
• Fill missing values in column A with the mean of the column.
• Drop rows where all values are None.

In [ ]:
data = {
 'A': [1, 2, None, 4],
 'B': [None, 2, 3, None],
 'C': [1, 2, 3, 4]
}
df = pd.DataFrame(data)
df['A'] = df['A'].fillna(df['A'].mean())
df = df.dropna(how='all')
print(df)

          A    B  C
0  1.000000  NaN  1
1  2.000000  2.0  2
2  2.333333  3.0  3
3  4.000000  NaN  4

Q5. Create a DataFrame for employees:
        data = {
        'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
        'Employee': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
        'Salary': [50000, 45000, 60000, 65000, 70000]
        }
• Group the data by Department and compute the total and mean salary for each
department.

In [ ]:
data={
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
 'Employee': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
 'Salary': [50000, 45000, 60000, 65000, 70000]
}
df4=pd.DataFrame(data)
df4.groupby('Department').agg({'Salary': ['sum', 'mean']})

            Salary
               sum     mean
Department
Finance      70000  70000.0
HR           95000  47500.0
IT          125000  62500.0

Q6. Given two DataFrames:
       
          df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Carol']})
          df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})
• Perform an inner join on the ID column

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Carol']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})
df3=pd.merge(df1, df2, on='ID', how='inner')
print(df3)

   ID   Name  Age
0   2    Bob   25
1   3  Carol   30

Q7. Given a small dataset, clean and display basic statistics using Pandas

In [ ]:
data={
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
 'Employee': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
 'Salary': [50000, 45000, 60000, 65000, 70000]
}
df6=pd.DataFrame(data)
df6.describe()

             Salary
count      5.000000
mean   58000.000000
std    10368.220677
min    45000.000000
25%    50000.000000
50%    60000.000000
75%    65000.000000
max    70000.000000

Q8. small EDA task


      • Load the Titanic dataset (titanic.csv) into a Pandas DataFrame.
      • Perform the following tasks:
      o Display the number of missing values in each column.
      o Find the average age of passengers.
      o Create a bar plot to show the survival rate based on gender

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df7=pd.read_csv('/content/drive/MyDrive/Titanic-Dataset.csv')
a=df7.isnull().sum()
b=df7['Age'].mean()
c=df7.groupby('Sex')['Survived'].mean()
print(a)
print(b)
print(c)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
29.69911764705882
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

9. Data Transformation
        • Load a dataset containing dail temperatures and dates. Perform the following:  
        o Convert the date column into a DateTime object.
        o Create a new column that categorizes temperatures into High, Medium, or
        Low.

In [ ]:
df8=pd.read_csv('/content/drive/MyDrive/daily-min-temperatures.csv')
df8['Date'] = pd.to_datetime(df8['Date'])
print(df8)

           Date  Temp
0    1981-01-01  20.7
1    1981-01-02  17.9
2    1981-01-03  18.8
3    1981-01-04  14.6
4    1981-01-05  15.8
...         ...   ...
3645 1990-12-27  14.0
3646 1990-12-28  13.6
3647 1990-12-29  13.5
3648 1990-12-30  15.7
3649 1990-12-31  13.0

[3650 rows x 2 columns]